.card {
  // border: 1px solid $grayishBlue;
  border-radius: 0.5em;
  // width: 320px;
  // margin: 1em;
  background-color: $white;
  box-shadow: 0 0 18px 1px rgba(41, 41, 41, 0.493);
  h5 {
    padding: 1.6em 1em;
    border-bottom: 1px solid $grayishBlue;
  }
  &-body {
    padding: 1em;
  }
  .modal-upCard & {
    width: 280px;
  }
}
.emptyBodyCard {
  margin: 3.6em 0;
  text-align: center;
  color: $darkGrayishBlue;
  font-weight: bold;
}
