//Primary
$orangeColor: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);

// Neutral
$veryVarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
// with 75% opacity for lightbox background)
$black: hsl(0, 0%, 0%);
$blackOpacity: hsla(0, 0%, 0%, 75%);

$z-latest: -1;
$z-back: 0;
$z-normal: 1;
$z-middle: 10;
$z-forward: 20;
$z-upper: 100;
